@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    @using Demo.API;
	@using Demo.Models;

	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
		var demo -new Class1();
		var demo2 -new Class2();

	}
}
